<!-- Comments (giscus) -->
<section id="comments" class="mt-16">
  <script src="https://giscus.app/client.js"
    data-repo="Ucique/chatty5.online"
    data-repo-id="R_kgDOPfkH8A"
    data-category="General"
    data-category-id="DIC_kwDOPfkH8M4CuWyT"
    data-mapping="pathname"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="dark"
    crossorigin="anonymous"
    async>
  </script>
  <noscript>Enable JavaScript to view comments by giscus.</noscript>
</section>